@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui;
  color: #243e63;
}

.item1 {
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
  font-weight: bold;
  background-color: #4337de;
  color: white;
  padding: 20px;
  border-radius: 6px;
}

.form {
  padding: 10px;
  border: 15px solid #ccc;
  border-radius: 00px;
  font-size: 56px;
  width: 250px;
}


.overlay {
  display: inline;
  top: 0;
  box-sizing: border-box;
  background-color: rgba(220, 20, 60, 0.9);
  color: white;
  
  
}

.container {
  width: 10pcx;
  height: auto;
  margin: 0 auto;
  padding: 20px;  
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

 .box {
  margin: 50px;
  width: 280px;
  height: 300px;
  background-color: #eee;
  border: 3px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  word-wrap: break-word;
  flex-wrap: wrap;
  border-radius: 1px;
  gap: 50px;
}

.row2 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: normal;
  text-align: center;
  color: #333;
  padding: 10px;
  border-radius: 8px;
}

.box-text {
  text-align: center;
  font-size: 16px;
  margin-top: 20px;
  font-weight: normal;
}

.item2 {
  background-color:;
  color: white;
  padding: 20px;
  border-radius: 6px;
}

.test2 {
  display: flex;
  justify-content: right;
  align-items: right;
  padding: 10px;
  margin-top: 20px;
  border-radius: 6px;
  background-color: #4337de;
  color: red;
}

.card1 {
  background-color: red;
  width: 280px;
  height: 200px;
  margin: 0 auto;
  padding: 35 px;
  float: left;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card2 {
  background-color: none;
  width: 33 px;
  height: 200px;
  margin: 0 auto;
  padding: 35 px;
  float: left;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card3 {
  background-color: none;
  width: 280px;
  height: 200px;
  margin: 0 auto;
  padding: 35 px;
  float: left;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card4 {
  background-color: none;
  width: 280px;
  height: 200px;
  margin: 0 auto;
  padding: 35 px;
  float: right;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card5 {
  background-color: none;
  width: 280px;
  height: 200px;
  margin: 0 auto;
  padding: 35 px;
  float: center;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card6 {
  background-color: none;
  width: 280px;
  height: 200px;
  margin: 0 auto;
  padding: 35 px;
  float: left;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card7 {
  background-color: none;
  width: 280px;
  height: 200px;
  margin: 0 auto;
  padding: 35 px;
  float: left;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.body {
  max-width: 100vw;
  overflow-x: hidden;
  text-align: right;
}

.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  text-align: left;
}

.row__narrow {
  width: 100%;
  max-width: 1024px;
  margin: 0 left;
  text-align: left;
  padding: 50px 0;
  padding-bottom: 50px;
}

.container {
  padding: 40px 0;
  text-align: left;
}

.purple {
  color: #6415ff;
}

section {
  padding: 0 32px;
}

main {
  margin-bottom: 96px;
}
span {
  color: #6415ff;
}

/* 

NAVBAR ↓

*/
.navbar {
  display: center;
  justify-content: space-between;
  align-items: center;
  border: 50px blue;
  padding-bottom: 150 px;
}

.nav__links {
  margin-left: auto; /* pushes links to the right */
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
  padding: px;
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
  align-items: center;
}
.nav__logo img {
  width: 40px;
  height: 40px;

  object-fit: contain;

}

.nav__row {
  display: flex;
  justify-content: space-between;
  align-items: left;
}

.nav__logo {
  display: flex;
  align-items: left;
  margin: 8px 0;
  padding-bottom: 4px;
  align-items: center;
  gap: 8px; /* optional spacing */
}

.btn__menu {
  display: none;
  background: transparent;
  border: none;
  transition: all 300ms ease;
}

.btn__menu--svg:hover {
  filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg)
    brightness(94%) contrast(115%);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 378px;
  margin: 24px 16px;
  padding: 32px;
  background-color: #fff;
  border: 1px solid rgb(229, 231, 235);
  border-radius: 8px;
  z-index: 4;
  visibility: hidden;
  opacity: 0;
  transform: translateX(300%);
  transition: all 300ms ease;
}

.modal__links {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__link {
  color: #1a202c;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  margin: 8px 0;
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
}

.modal__link--primary {
  color: #f7fafc;
  padding: 12px 32px;
  background: #6415ff;
  border-radius: 20px;
  border: none;
}

.menu--open .modal {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

.btn__menu--close {
  position: fixed;
  top: 24px;
  right: 18px;
}

/* 

HEADER / ABOUT US ↓

*/

header .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* 

FEATURES ↓

*/

#features {
  position: relative;
}

#features .row__narrow {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 

QUALITY WORK ↓

*/

#quality .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 

STEPS ↓

*/

#steps .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 

VALUES ↓7

*/

#values .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*

PRICING ↓

*/

#pricing .row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 

TESTIMONIALS ↓

*/

#testimonials .row {
  display: flex;
}

/* 

START / CALL TO ACTION ↓

*/

#start .row {
  position: relative;
  overflow: hidden;
}

/* 

FOOTER ↓

*/

.footer {
  padding: 96px 32px;
  background-color: rgb(100, 21, 255);
  margin-bottom: -32px;
  position: relative;
  overflow: hidden;
}

/* 

MOBILE RESPONSIVENESS ↓

*/

@media (max-width: 1280px) {
  header .row {
    align-items: flex-end;
  }
}

@media (max-width: 1024px) {
  .btn__menu {
    display: block;
  }
  header .row {
    flex-direction: column;
    align-items: center;
  }
  footer {
    padding: 80px 32px;
  }
}

@media (max-width: 768px) {
  #quality .row,
  #values .row {
    flex-direction: column-reverse;
  }
  #steps .row,
  #testimonials .row {
    flex-direction: column;
    align-items: center;
  }
  #pricing .row {
    margin-top: 40px;
  }
}

@media (max-width: 640px) {
  .container {
    padding: 80px 0;
  }
  .nav__logo {
    margin: 8px 0;
    padding-bottom: 4px;
  }
  main {
    margin-bottom: 80px;
  }
}
